/* 1st project */

    /* .listContainer{
        transition: opacity 3s ease-in-out;
    }
    .listContainer.listEmpty{
        opacity: 0;
    } */

    .infoContainer {
        transition: max-height 3s ease-in-out;
        overflow: hidden;
        max-height: 200px;
      }
      
      .infoContainer.expanded {
        max-height: none;
      }
    
    .activeBtn{
      border: 10px solid green;
    }
      